@import url(assets/styles.css);

html, body {
    box-sizing: border-box;
    font-family: Inter;
}
h1 {
    color: var(--bold-text-color);
    font-size: var(--main-header);
    text-align: center;
    letter-spacing: -1.2px;
    line-height: 60px;
    margin: 0px 0px;
    letter-spacing: -0.8px;
}
h2 {
    color: var(--bold-text-color);
    font-size: var(--sub-header);
    line-height: 45px;
    margin: 0px 0px;
}
h3 {
    color: var(--bold-text-color);
    font-size: var(--header-subtitles);
    margin: 0px 0px;
}
p {
    color: var(--regular-text-color);
    font-weight: var(--regular);
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.3px;
    margin: 0px 0px
}
/* Navigation */
nav {
    display: grid;
    width: inherit;
    padding: 30px 30px 30px 30px;
    grid-template-areas: "logo nav";
    grid-template-columns: 200px auto;
}
nav div {
    display: flex;
}
nav #nav_logo {
    grid-area: logo;
}
#nav {
    grid-area: nav;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
#nav a {
    margin: 0px 30px;
    font-family: Inter;
    font-weight: 600;
    font-size: var(--regular);
    color: var(--bold-text-color);
}
#hidden_nav {
    display: none;
    align-items: center;
    justify-content: flex-end; 
}
/* End */

/* Header Hero Page */
header {
    width: 730px;
    margin: 60px auto 0px auto;
}
#header_image {
    display: block;
    margin: 30px auto 0 auto;
}
.hero_headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.hero_headers p {
    margin: 20px 0px 10px 0px;
}
.subscription {
    display: grid;
    width: max-content;
    grid-template-areas: "input submit"
                        "subtext subtext";
    margin: 15px auto 15px auto;
    grid-template-columns: 393px 130px;
    grid-template-rows: 48px auto;
    grid-gap: 15px;
}
.subscription_input {
    display: block;
    grid-area: input;
    background: #f7f7ff;
}
.subscription_input input {
    width: calc(100% - 15px);
    height: 100%;
    background: none;
    border: none;
    padding-left: 15px;
    font-size: var(--regular);
    opacity: 0.4;
}
.subscription_submit {
    display: block;
    grid-area: submit;
}
.subscription_submit button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: var(--bright-red);
    box-shadow: none;
    color: var(--white);
    font-weight: 600;
    font-size: var(--regular);
    border: none;
}
.subscription_subtext {
    grid-area: subtext;
    text-align: center;
    margin-top: 15px;
}
.subscription_subtext span {
    color: var(--dark-gray);
    font-size: var(--regular);
    line-height: 18px;
    letter-spacing: -0.1px;
}
/* End */

/* Section One */
#section_one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 90px 0px;
    width: 100%;
    height: auto;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
#section_one h2 {
    display: block;
    width: 750px;
    text-align: center;
}
/* End */

/* Section Two */ 
#section_two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 60px 90px 60px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
.features-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.features-grid .features-grid-feature {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.features-grid-feature h3 {
    margin-top: 20px;
}
.features-grid-feature p {
    text-align: left;
    margin: 10px 0px 20px 0px
}
.features-grid span {
    color: var(--bright-red);
    font-weight: 600;
    font-size: 15px;
}
/* End */

/* Statistics */

#section_three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 120px 60px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
.statistics-grid {
    display: flex;
    width: 1110px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    row-gap: 60px;
}
.statistics-grid .stat {
    display: flex;
    flex-direction: column;
    width: 350px;
}
.stat h2 {
    display: block;
    width: 100%;
    font-size: 64px;
    margin-bottom: 30px;
}
.stat span {
    display: block;
    width: 100%;
    font-size: var(--header-subtitles);
}

/* End */

/* Section Four */

#section_four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 120px 60px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

.section_four_content .four-content-header {
    text-align: center;
    width: 730px;
    margin: 0px auto 0px auto;
}
.section_four_content .four-content-header h2 {
    margin-bottom: 20px;
    font-size: 48px;
}
.section_four_content .four-content-header p {
    font-size: 20px;
}
.section_four_content .four-content-header p {
    margin-bottom: 60px;
}
.steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
}
.steps article {
    width: 350px;
    text-align: center;
}
.steps article .step-header img {
    display: block;
    margin: 0px auto 0px auto;
}
.steps article h3 {
    margin: 20px 0px 10px 0px;
}
.steps article span {
    line-height: 22px;
    font-size: var(--regular);
}
.steps .steps-arrow {
    display: flex;
}
.steps .steps-arrow img {
    display: block;
    margin-top: 24px;
    width: 48px;
    height: 48px;
    transform: rotate(270deg);
}
/* End */

/* Section Five */
#section_five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 120px 0px 120px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
#section_five section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
#section_five div {
    display: flex;
    align-items: center;
}
#section_five section div #five-phone {
    display: block;
    margin-top: 120px;
    width: 100%;
}
#section_five div article {
    display: flex;
    flex-direction: column;
}
#section_five div article h2 {
    margin: 30px 0px 20px 0px;
}
#section_five div article p {
    text-align: left;
    margin-bottom: 30px;
}
#section_five div article span {
    color: var(--bright-red);
    font-weight: 600;
}
/* End */

/* Section Six */

#section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 120px 60px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
.blog-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 60px;
}
.blog-previews article {
    display: flex;
    flex-direction: column;
    width: 255px;
}
.blog-preview-image {
    display: block;
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}
.blog-preview-image div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #DBDBDB;
    border-radius: 8px;
}
.blog-previews article h3 {
    margin: 15px 0px 10px 0px;
    font-size: var(--small-headers);
}
.blog-previews article p {
    text-align: left;
    margin-bottom: 15px;
    font-size: 15px;
}
.blog-preview-date {
    font-size: 11px;
    margin: 0px 0px;
}
.blog-preview-info {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
.blog-preview-info div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/* End */

/* Section 7 */
#section_7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 60px 120px 60px;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
#section_7_wrap {
    margin-top: 0px;
}
/* End */
@media only screen and (max-width: 1246px) {
    .statistics-grid .stat {
        width: 290px;
    }
    .features-grid {
        gap: 60px;
    }
}

@media only screen and (max-width: 1066px) {
    .statistics-grid .stat {
        width: 260px;
    }
}
@media only screen and (max-width: 1004px) {
    .steps {
        flex-direction: column;
        width: 350px;
        margin: 0px auto 0px auto;
        row-gap: 30px;
    }
    .steps .steps-arrow {
        height: 48px;
        justify-content: center;
    }
    .steps .steps-arrow img {
        margin-top: 0px;
        transform: rotate(0deg);
    }
    #section_five {
        padding: 60px 120px 0px 120px;
    }
    #section_five section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    #section_five section div #five-phone {
        width: 440px;
        margin: 0px auto 0px auto;
    }
}
@media only screen and (max-width: 870px) {
    .section_four_content .four-content-header {
        width: auto;
    }
}
@media only screen and (max-width: 895px) {
    .features-grid {
        justify-content: center;
    }
}
@media only screen and (max-width: 850px) {
    header {
        width: calc(100% - 60px);
    }
    #section_one {
        width: 100%;
    }
    #section_one h2 {
        margin: 0px 30px 0px 30px;
    }
}
@media only screen and (max-width: 685px) {
    .statistics-grid {
        flex-direction: column;
        width: auto;
    }
    .statistics-grid .stat {
        width: auto;
    }
}
@media only screen and (max-width: 728px) {
    nav {
        grid-template-areas: "logo"
                             "nav";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 15px;
    }
    #nav_logo, #nav {
        justify-content: center;
    }
    #nav a {
        margin: 15px 30px;
    }
    header {
        margin: 15px auto 0px auto;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #section_five {
        padding: 60px 60px 0px 60px;
    }
}
@media only screen and (max-width: 628px) {
    .subscription {
        grid-template-areas: "input"
                            "submit"
                            "subtext";
        grid-template-columns: 1fr;
        grid-template-rows: 48px 48px auto;
        width: 100%
    }
    .subscription_submit button {
        display: block;
        width: 130px;
        margin: 0px auto 0px auto;
    }
}
@media only screen and (max-width: 575px) {
    #section_five section div #five-phone {
        width: 290px;
    }
}
@media only screen and (max-width: 528px) {
    nav {
        grid-template-areas: "logo hidden_nav"
                                "nav nav";
    }
    #hidden_nav {
        display: flex;
        grid-area: hidden_nav;
    }
    #nav_logo, #nav {
        justify-content: flex-start;
    }
    #nav a {
        margin: 30px 60px 0px 0px;
    }
    .subscription {
        grid-gap: 30px;
    }
    .section_four_content .four-content-header h2 {
        font-size: 36px;
    }
    .steps {
        width: 100%;
    }
    .steps article {
        width: 100%;
    }
    .features-grid .features-grid-feature {
        width: 100%;
    }
}
@media only screen and (max-width: 380px) {
    #header_image {
        width: 100%;
    }
}
@media only screen and (max-width: 350px) {
    #nav a {
        margin: 30px 30px 0px 0px;
    }
}