@import url(assets/styles.css);

html, body {
    box-sizing: border-box;
    font-family: Inter;
}
h1 {
    color: var(--bold-text-color);
    font-size: var(--main-header);
    text-align: center;
    letter-spacing: -1.2px;
    line-height: 60px;
    margin: 0px 0px;
    letter-spacing: -0.8px;
}
h2 {
    color: var(--bold-text-color);
    font-size: var(--sub-header);
    line-height: 45px;
    margin: 0px 0px;
}
p {
    color: var(--regular-text-color);
    font-weight: var(--regular);
    text-align: center;
    line-height: 30px;
    letter-spacing: -0.3px;
}
/* Navigation */
nav {
    display: grid;
    width: inherit;
    padding: 30px 30px 30px 30px;
    grid-template-areas: "logo nav";
    grid-template-columns: 200px auto;
}
nav div {
    display: flex;
}
nav #nav_logo {
    grid-area: logo;
}
#nav {
    grid-area: nav;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}
#nav a {
    margin: 0px 30px;
    font-family: Inter;
    font-weight: 600;
    font-size: var(--regular);
    color: var(--bold-text-color);
}
#hidden_nav {
    display: none;
    align-items: center;
    justify-content: flex-end; 
}
/* End */

/* Header Hero Page */
header {
    width: 730px;
    margin: 60px auto 0px auto;
}
#header_image {
    display: block;
    margin: 30px auto 0 auto;
}
.hero_headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.subscription {
    display: grid;
    width: max-content;
    grid-template-areas: "input submit"
                        "subtext subtext";
    margin: 15px auto 15px auto;
    grid-template-columns: 393px 130px;
    grid-template-rows: 48px auto;
    grid-gap: 15px;
}
.subscription_input {
    display: block;
    grid-area: input;
    background: #f7f7ff;
}
.subscription_input input {
    width: calc(100% - 15px);
    height: 100%;
    background: none;
    border: none;
    padding-left: 15px;
    font-size: var(--regular);
    opacity: 0.4;
}
.subscription_submit {
    display: block;
    grid-area: submit;
}
.subscription_submit button {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: var(--bright-red);
    box-shadow: none;
    color: var(--white);
    font-weight: 600;
    font-size: var(--regular);
    border: none;
}
.subscription_subtext {
    grid-area: subtext;
    text-align: center;
    margin-top: 15px;
}
.subscription_subtext span {
    color: var(--dark-gray);
    font-size: var(--regular);
    line-height: 18px;
    letter-spacing: -0.1px;
}
/* End */

/* Section One */
#section_one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 90px 0px;
    width: 100%;
    height: auto;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}
#section_one h2 {
    display: block;
    width: 750px;
    text-align: center;
}
/* End */

@media only screen and (max-width: 850px) {
    header {
        width: calc(100% - 60px);
    }
    #section_one {
        width: 100%;
    }
    #section_one h2 {
        margin: 0px 30px 0px 30px;
    }
}
 
@media only screen and (max-width: 728px) {
    nav {
        grid-template-areas: "logo"
                             "nav";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 15px;
    }
    #nav_logo, #nav {
        justify-content: center;
    }
    #nav a {
        margin: 15px 30px;
    }
    header {
        margin: 15px auto 0px auto;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 628px) {
    .subscription {
        grid-template-areas: "input"
                            "submit"
                            "subtext";
        grid-template-columns: 1fr;
        grid-template-rows: 48px 48px auto;
        width: 100%
    }
    .subscription_submit button {
        display: block;
        width: 130px;
        margin: 0px auto 0px auto;
    }
}

@media only screen and (max-width: 528px) {
    nav {
        grid-template-areas: "logo hidden_nav"
                                "nav nav";
    }
    #hidden_nav {
        display: flex;
        grid-area: hidden_nav;
    }
    #nav_logo, #nav {
        justify-content: flex-start;
    }
    #nav a {
        margin: 30px 60px 0px 0px;
    }
    .subscription {
        grid-gap: 30px;
    }

}
@media only screen and (max-width: 380px) {
    #header_image {
        width: 100%;
    }
}
@media only screen and (max-width: 350px) {
    #nav a {
        margin: 30px 30px 0px 0px;
    }
}